<div class="container">
<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.association :movie, collection: Movie.order(:title), prompt: "Choose a Movie" %>
<%= f.input :comment %>
<%= f.submit class:"btn btn-gradient"%>
<% end %>
</div>
